* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 100%;
    font-family: sans-serif;
}

div,
section,
span,
ul,
li,
a,
header {
    box-sizing: border-box;
}


/*css reset*/

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
    position: fixed;
    z-index: 999;
}

img {
    width: 150px;
    height: auto;
}

#nav-items li {
    list-style: none;
    display: inline-block;
    margin: 20px;
}

#nav-items li a {
    color: #000;
    text-decoration: none;
    font-size: 20px;
}

section {
    width: 100%;
    float: left;
    height: 100vh;
    position: relative;
}

#home {
    background-color: #FFFFFF;
}

#about {
    background-color: #BC8CF2;
}

#learn {
    background-color: #FFFFFF;
}

#job {
    background-color: #BC8CF2;
}

#community {
    background-color: #FFFFFF;
}

#contact {
    background-color: #BC8CF2;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #3F0071;
}