* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
}

div,
section,
span,
ul,
li,
a,
header {
    box-sizing: border-box;
}


/*css reset*/

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
    position: fixed;
    z-index: 999;
}

img {
    width: 150px;
    height: auto;
}

#img1 {
    padding: 50px 80px;
}

#nav-items li {
    list-style: none;
    display: inline-block;
    margin: 20px;
}

#nav-items li a {
    color: #000;
    text-decoration: none;
    font-size: 20px;
}

section {
    width: 100%;
    float: left;
    height: 100vh;
    position: relative;
}

#home {
    background-color: #FFFFFF;
}

#about {
    background-color: #BC8CF2;
}

#learn {
    background-color: #FFFFFF;
}

#job {
    background-color: #BC8CF2;
}

#community {
    background-color: #FFFFFF;
}

#contact {
    background-color: #BC8CF2;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #3F0071;
}


}
.social-menu ul {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0;
    margin: 0;
    transform: translate(-50%, -50%);
    display: flex;
}
.social-menu ul li {
    list-style: none;
    margin: 0 15px;
}
.social-menu ul li .fab {
    font-size: 30px;
    line-height: 60px;
    transition: .3s;
    color: #000;
}
.social-menu ul li .fab:hover {
    color: #fff;
}
.social-menu ul li a {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0, 0, 0, .5);
}
.social-menu ul li a:hover {
    transform: translate(0, -10%);
}
.social-menu ul li:nth-child(1) a:hover {
    background-color: #1892d4;
}
.social-menu ul li:nth-child(2) a:hover {
    background-color: #92088b;
}
.social-menu ul li:nth-child(3) a:hover {
    background-color: #1892d4;
}
.social-menu ul li:nth-child(4) a:hover {
    background-color: #1892d4;
}
p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-align: center;
}
#desc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-align: center;
}
.footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 60px;
    width: 100%;
    background-color: #FFFFFF;
}